* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em;
}
.wrapper > .container{
}
.navbar-brand{
    background: url('/images/logo.png') no-repeat left center;
    padding-left: 60px;
}
.navbar-category{
    margin: 0 -15px;
    padding: 0;
    background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
    filter: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px #c4c4c4;
    border: 0;
    min-height: 40px;
}
.navbar-category .nav > li:first-child > a {
    border-left: 0;
    padding-left: 30px;
    border-radius: 10px 0 0 10px;
}
.navbar-category .nav > li > a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 501;
    text-shadow: 0 -1px 1px #801616;
    font-size: 12px;
    padding: 10px;
    border-left: 1px solid rgba(252, 204, 204, 0.52);
    border-right: 1px solid rgba(144, 22, 22, 0.43);
}
.navbar-category .nav > li > a:hover, .navbar-category .nav > li.active > a {
    background-image: -webkit-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: -o-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF0534F', endColorstr='#ffEB3834', GradientType=0);
    filter: none;
    background-color: inherit;
}
.navbar-category .nav > li {
    line-height: 24px;
}
.navbar-category .nav  li{
    position: relative;
}
.navbar-category .search-block{
    padding: 5px;
}
.navbar-category .search-block .has-feedback .form-control-feedback{
    top:-2px;
}
.navbar-category .search-block input{
    height:30px;
    border: 0;
    outline: 0;
}
.navbar-category .search-block .form-group{
    margin-bottom: 0;
}
.navbar-category .search-block input:focus{
    outline: 0;
    border: 0;
    text-shadow: none;
}
header.navbar{
    margin-bottom: 5px;
}
.breadcrumb{
    margin:0 -15px;
    background: none;
}
.breadcrumb li.home a{
    display: inline-block;
    background: url('/images/home.gif') no-repeat center center;
    height:10px;
        width:10px;
}
footer, .push {
    height: 7em;
}
footer{
    text-align: center;
}
footer .links{
    margin:0;
}
footer .footer-links li{
    display:inline-block;
    padding:0 10px;
}
footer p{
    margin-bottom: 0;
}
body {
}
header{
    margin-bottom: 10px;
}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.navbar-push{
    padding-bottom: 60px;
}