* {
    margin: 0;
}
html, body {
    height: 100%;
}
a{
    color:#E02442;
}
a:hover{
    color:#000000;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}
.wrapper > .container{
}
.navbar-brand{
    background: url('/themes/default/frontend/img/logo.png') no-repeat left center;
    padding-left: 60px;
}
.navbar-category{
    margin: 0 -15px;
    padding: 0;
    background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
    filter: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px #c4c4c4;
    border: 0;
    min-height: 40px;
}
.navbar-category .nav > li:first-child > a {
    border-left: 0;
}
.navbar-category .nav > li > a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 501;
    text-shadow: 0 -1px 1px #801616;
    font-size: 12px;
    padding: 10px;
    border-left: 1px solid rgba(252, 204, 204, 0.52);
    border-right: 1px solid rgba(144, 22, 22, 0.43);
}
.navbar-category .nav > li > a.sub:after {
    content: url("/themes/default/frontend/img/menu-sub.png");
    display: inline-block;
    margin-right: -10px;
}
.navbar-category .nav > li .dropdown-menu{
    background:#fcfcfc;
    border-top: 0;
    margin-left:-1px;
}
.navbar-category .nav > li .dropdown-menu li a{
    color:#E02442;
}
.navbar-category .nav > li .dropdown-menu li a:hover{
    background-color: #ffd75b;
    text-decoration: none;
    color: #444c4d;
}
.navbar-category .nav > li > a:hover, .navbar-category .nav > li.active > a {
    background-image: -webkit-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: -o-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF0534F', endColorstr='#ffEB3834', GradientType=0);
    filter: none;
    background-color: inherit;
}
.navbar-category .nav > li:hover > a.sub{
    color: #525252;
    z-index: 1001;
    text-shadow: 0 1px 1px #F1F1F1;
    background-image: linear-gradient(#E6E1E1, #FFFFFF 20%, #fcfcfc);
    background-image: -webkit-linear-gradient(#E6E1E1, #FFFFFF 20%, #fcfcfc);
    background-image: -o-linear-gradient(#E6E1E1, #FFFFFF 20%, #fcfcfc);
    background-image: linear-gradient(#E6E1E1, #FFFFFF 20%, #fcfcfc);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfcF', endColorstr='#fffcfcfcF', GradientType=0);
    
}
@media (max-width: 768px){
    .navbar-category{
        border-radius: 0;
    }
    .navbar-category .nav > li > a{
        border:0;
    }
    .navbar-category .navbar-nav{
        margin:0 -15px;
    }
    .navbar-collapse{
        background: #FAFAFA;
    }
}
.navbar-category .nav > li {
    line-height: 24px;
}
.navbar-category .nav  li{
    position: relative;
}
.navbar-category .search-block{
    padding: 5px;
}
.navbar-category .search-block .has-feedback .form-control-feedback{
    top:-2px;
}
.navbar-category .search-block input{
    height:30px;
    border: 0;
    outline: 0;
}
.navbar-category .search-block .form-group{
    margin-bottom: 0;
}
.navbar-category .search-block input:focus{
    outline: 0;
    border: 0;
    text-shadow: none;
}
header.navbar{
    margin-bottom: 15px;
}
.breadcrumb{
    margin:0 -15px;
    background: none;
}
.breadcrumb li.home a{
    display: inline-block;
    background: url('/themes/default/frontend/img/home.gif') no-repeat center center;
    height:10px;
    width:10px;
}
footer, .push {
    height: 100px;
}
footer{
    text-align: center;
}
footer .footer-links{
    margin:0;
    padding:0;
}
footer .footer-links li{
    display:inline-block;
    padding:10px;
}
footer p{
    margin-bottom: 0;
}
body {
}
header{
    margin-bottom: 10px;
}
.zf-green {
    color: #68b604;
}
.form .form-group .help-block{
    margin:5px 0;
    padding: 0;
    list-style: none;
    font-size: small;
}
.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.navbar-push{
    padding-bottom: 60px;
}
.navbar-toggle .icon-bar {
    background-color: #000;
}
#back-top{
    background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
    padding: 10px;
    border-radius: 10px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom: 20px;
    cursor: pointer;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    display: none;
}
#back-top:hover{
    background-image: linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: -webkit-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-image: -o-linear-gradient(#F0534F, #F14540 60%, #EB3834);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
    opacity: 0.9;
}