* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}
.wrapper > .container{
}
.navbar-default .navbar-nav>li>a.sub:after{
    content: url("/themes/default/backend/img/menu-sub.png");
    display: inline-block;
    margin-right: -10px;
}
.breadcrumb{
    margin:0 -15px;
    background: none;
}
.breadcrumb li.home a{
    display: inline-block;
    background: url('/themes/default/backend/images/home.gif') no-repeat center center;
    height:10px;
    width:10px;
}
footer, .push {
    height: 70px;
}
footer{
    text-align: center;
}
footer .footer-links{
    margin:0;
    padding:0;
}
footer .footer-links li{
    display:inline-block;
    padding:10px;
}
footer p{
    margin-bottom: 0;
}